html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--jetbrains-mono-font), 'Courier New', monospace, monospace, sans-serif;
  background-color: #211D1F;
  color: #F6F8FE;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
