html,
:root {
  --primary-accent-color: #8ab400;
  --secondary-accent-color: #1894cf;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--jetbrains-mono-font), "Courier New", monospace, monospace,
    sans-serif;
  background-color: #211d1f;
  color: #f6f8fe;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
