.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nakedList {
  padding: 0;
  list-style-type: none;
  list-style: none;
}

.row {
  display: flex;
  flex-direction:row;
}

.cursor {
  flex: 1;
}

.column {
  flex: 5;
}